@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/* Container */
.container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Libre Franklin", sans-serif;
}
.logo {
  height: 15px;
  margin-top: 2rem;
}

/* Main Text */
.main-text {
  text-align: center;
}
.header {
  font-weight: 400;
  margin-top: 2rem;
  color: hsl(0, 0%, 59%);
  font-size: 1.3rem;
}
.header-black {
  color: #000;
  font-weight: 700;
}
.subscribe-text {
  margin-top: 1rem;
  font-size: 0.8rem;
}

/* Form */
form {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.input-email,
.form-btn {
  width: 90%;
  padding: 0.7rem 0 0.7rem 2rem;
  border-radius: 50px;
  border: 2px solid hsl(223, 100%, 88%);
  font-family: inherit;
}
.input-email::placeholder {
  color: hsl(223, 100%, 88%);
}
.input-email:focus {
  outline: 1px solid hsl(223, 100%, 88%);
}
.form-btn {
  margin-top: 0.5rem;
  padding-left: 0;
  background-color: hsl(223, 87%, 63%);
  color: hsl(223, 100%, 88%);
  border: none;
  box-shadow: 0 2px 10px hsl(223, 90%, 69%);
  font-weight: 600;
  cursor: pointer;
}

/* Main Image*/
.dashboard-img {
  width: 100%;
  margin-top: 3rem;
  object-fit: contain;
}

/* Footer */
.footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.socials {
  color: hsl(223, 87%, 63%);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
.social {
  border: 1px solid hsl(223, 100%, 88%);
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.fa-brands {
  font-size: 1rem;
}
.social:nth-child(2) {
  margin: 0 1.5rem;
}
.copyright {
  color: hsl(0, 0%, 59%);
  font-size: 0.7rem;
}

/* Errors */
.email-error {
  position: relative;
  bottom: -5px;
  margin-bottom: 0.5rem;
  left: 0;
  font-size: 0.8rem;
  color: hsl(354, 100%, 66%);
}
.email-error-border {
  border: 1px solid hsl(354, 100%, 66%);
}
/* Media Queries */
@media screen and (min-width: 640px) {
  .logo {
    height: 20px;
  }
  .header {
    font-size: 2.5rem;
  }
  .subscribe-text {
    font-size: 1rem;
  }
  form {
    flex-direction: row;
    width: auto;
    justify-content: center;
  }
  .input-email,
  .form-btn {
    padding: 1rem 0 1rem 2rem;
    width: 400px;
  }
  .input-email {
    border: 1px solid hsl(223, 100%, 88%);
  }
  .form-btn {
    width: 180px;
    padding-left: 0;
    margin-left: 1rem;
    box-shadow: none;
    color: #fff;
    margin-top: 0;
  }
  .dashboard-img {
    height: 350px;
  }
  .social {
    height: 30px;
    width: 30px;
  }
  .fa-brands {
    font-size: 0.8rem;
  }
  .email-error {
    position: absolute;
    bottom: -20px;
    left: 10px;
    font-size: 0.8rem;
    margin-bottom: 0;
    color: hsl(354, 100%, 66%);
  }
  .email-error-border {
    border: 1px solid hsl(354, 100%, 66%);
  }
}
